<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Senior Bar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/']">Menu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/orders']">Orders</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="banner">
  <img
    src="https://images.pexels.com/photos/63633/bar-local-cong-ireland-63633.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
</div>
<div class="container">
  <div class="container py-4">
    <router-outlet></router-outlet>
  </div>
</div>